<div class="contact-card">
	<div class="contact-card__image" [ngStyle]="{'background-image':'url('+profilePhotoUrl+')'}">
	</div>
	<div class="contact-card__content">
		<h3 class="contact-card__header">{{ contact.lastName }} {{ contact.firstName }} {{ contact.middleName }}</h3>
		<div class="contact-card__container">
			<div class="contact-card__organization">
				{{ contact.organization}}
			</div>
			<div class="contact-card__department">
				{{ contact.department}}
			</div>
			<div class="contact-card__position">
				{{ contact.position}}
			</div>
			<div class="contact-card__phone">
				{{ contact.phone}}
			</div>
			<div class="contact-card__email">
				{{ contact.email}}
			</div>
		</div>
	</div>
</div>