/* screen width for media queries*/

@mixin _1440 {
    @media (max-width: 1440px) {
        @content;
    }
}
@mixin _1024 {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin _768 {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin _600 {
    @media (max-width: 600px){
        @content;
    }
}

@mixin _375 {
    @media (max-width: 375px) {
        @content;
    }
}

/*common styles*/
@mixin flex-c-c {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin wrapper {
	max-width: 1395px;
	margin: 0 auto 1.45rem;

	@include _1440 {
		margin: 0 1.5rem 1.45rem;
	}

	@include _375 {
		margin: 0;
	}

}	

@mixin font-small {
	font-weight: normal;
	font-size: 0.75rem;
    line-height: 0.875rem;
}


