/* You can add global variables to this file*/;

/*colors*/
$colorWhite: #ffffff;
$colorLightgreyBg: #F7F7F7;
$colorPurple: #ED1C24;
$colorDarkGrey: #6E767D;
$colorBlackHeader: #282B2E;
$colorGrey: #D7D7D7;
$colorLightgrey: #A6AAAD;
$colorBlackCard: rgba(0, 0, 0, 0.87);
$colorDark: #212121;
$colorBlackForm: rgb(51, 51, 51, 0.8);


/*font*/
$font-stack: Roboto, sans-serif;


/*transitions*/
$transition: .3s;